.header-web{
    float:left;
    padding-left:8%;
    width:40%;
  


}
.header-web img{
    width:80%;
}
.full{
    background-repeat:no-repeat;
background-image:url("file:///C:/Users/tanvir/Desktop/project-/image/web-background%20cover.png")
   

}
section{
    height:500px;
    
}

.web-futter{
    float:left;
    padding-left:8%;
    width:40%;
}
.futter{
    background-repeat:no-repeat;

    
}
h1{
    font-size:50px;
}
body{
    font-family: 'Poppins', sans-serif;
    
        margin:0%;
    
}
.name-highlit{
    color:orange;
}
.link-button{
    border-radius:7px;
    text-decoration:none;
 
   padding:10px 20px ;
   color:white;
   background-image:linear-gradient(30deg,lightsalmon,tomato)
   
}